html, 
body {
    margin: 0;
    padding: 0;
}

/* Header and Nav */

header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    height: 3.6875em;
   /* border-bottom: #505050 solid 1px; */
}

.logo {
    display: flex;
    padding: 1em;
    gap: 1em;
}

.logo-img{
    width: 1.5em;
}

.heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 0.875em;
    line-height: 108%;
    letter-spacing: -3%;
    justify-content: center;
    align-items: center;
}

nav, ul{
    display: flex;
    gap: 2em;
    
}

li{
    list-style-type: none;
}

.nav-links{
    width: 3.625em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #090909;
    text-decoration: none;
}

.nav-links.active{
    text-decoration: underline;
}

/* Home Page Hero Section */

.Hero {
    width: 25.875rem;
    background: url(../images/Learning-Journal-Hero.png);
    height: 25vh;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 1em 1em 1em 1em;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.article-date-hero{
    margin-bottom: -10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 100%;
    letter-spacing: 0%;
    width: 23.375em;
    height: 0.938em;
    opacity: 1;
    color: #fff;
    text-shadow: #090909 0px 0px 1px;
}

.article-title-hero{
    width: 374px; /* 23.375em */
    opacity: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 2rem;
    line-height: 108%;
    letter-spacing: -3%;
    color: #fff;
    text-align: left;
    text-shadow: #090909 0px 0px 1px;
}

.article-preview-hero{
    width: 22.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    text-shadow: #090909 0px 0px 1px;
}

/* Aticle Section */ 
.Site-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 3em;
}

.article-listing{
    width: 100%;
    height: auto;
    opacity: 1;
    border-radius: 3px;
    padding-bottom: 2em;
}

.blog{
    padding-top: 1em;
    padding-bottom: 2em;
    width: 23.375em;
    height: 23em; 
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

#blog-one-img{
    width: 100%;
    height: 14.5em;  
    border-radius: 3px;
    background-image: url(../images/Blog-one-cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blog-two-img{
    width: 100%;
    height: 14.5em; 
    border-radius: 3px;
    background-image: url(../images/Blog-two-cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blog-three-img{
    width: 100%;
    height: 14.5em; 
    border-radius: 3px;
    background-image: url(../images/Blog-three-cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blog-four-img{
    width: 100%;
    height: 14.5em; 
    border-radius: 3px;
    background-image: url(../images/Blog-four-cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blog-five-img{
    width: 100%;
    height: 14.5em; 
    border-radius: 3px;
    background-image: url(../images/Blog-five-cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blog-six-img{
    width: 100%;
    height: 14.5em; 
    border-radius: 3px;
    background-image: url(../images/Blog-six-cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-date{
    padding-top: 1em;
    padding-bottom: 1em;
    color: #000;
    width: 100%;
    height: 1.125em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.885em;
    line-height: 100%;
    letter-spacing: 0%;
}

.blog-title{
    color: #141414;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.5em;
    line-height: 108%;
    letter-spacing: 0%;
    width: 100%;
    height: 1.625em; 
    padding-bottom: 1em;
}

.blog-excerpt{
    width: 100%;
    height: 3.75em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 125%;
    letter-spacing: 0%;
    color: #505050;
    padding-bottom: 1em;
}

#view-more-btn{
    display: inline-block;
    width: auto; /* 23.375em */
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #000000;
    background: none;
    margin-left: auto;
    margin-right: auto;
    border: none;
    align-items: center;
}

/* Footer */ 

footer{
    display: grid;
    place-items: center;
    background-color: #202020;
    width: 100%; /* 25.875rem */
    height: 6.5625rem;

}

.footer-text{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 108%;
    letter-spacing: -3%;
    text-align: center;
    color: #ECECEC;
    align-self: center;
    text-align: center;
}

.footer-main{
    margin-bottom: -0.5em;
}

#copyright{
    width: 109px;
    height: 0.9375em;
    opacity: 1;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
    color: #D7D7D7;
}

/* Post Page Main Article Section */

.article-main{
    width: 23.5em;
    height: auto;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.text-colour{
    color: #151515;
    padding-bottom: 3em;
}

.article-img{
    background-image: url(../images/Learning-Journal-Hero.png);
    width: 100%;
    height: 14.5em; 
    border-radius: 3px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 1em;
    line-height: 100%;
    letter-spacing: 0%;
    color: #151515;
}

#recent-posts{
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.article-p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 100%;
    letter-spacing: 0%;
}

/* About Me Hero Section */

#about-img{
    align-items: flex-start;
    margin-left: 2em;
    width: 11.375em;
    height: 11.375em;
    background-image: url(../images/About-me-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.about-title{
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 108%;
    letter-spacing: -3%;
    color: #151515;
    padding-bottom: 0.5em;
}

.about-hero{
    width: 23.5em;
    height: auto;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}


/* Media Queries */ 

@media (min-width: 768px){
    .Hero{
        width: 100%;
        height: 30.5em;
        background-position: bottom;
    }

    .article-date-hero{
        width: 38.4375em;
    }

    .article-title-hero{
        width: 41.0625em;
    }

    .article-preview-hero{
        width: 615px;
    }

    .article-listing{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }

    #view-more-btn{
        padding-top: 2em;
    }

    .article-main{
        width: 979px;
        border-radius: 3px;
    }

    .article-img{
        width: 979px;
        height: 488px;
        border-radius: 3px;
    }

    .blog-title{
        font-size: 36px;
    }

    #body-test{
        margin-top: 3em;
    }

    h3{
        font-size: 24px;
    }

    #recent-posts{
        margin-top: 35px;
    }

    .article-p{
        font-size: 18px;
    }

    .about-main{
        padding-top: 3em;
    }

    .About-desktop-hero{
        display: flex;
        
    }

    .about-main{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 35px auto;
    }

    .about-hero{
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 40px;
    }

    .about-me-heading{
        width: 764px;
    }

    .about-me-journey{
        width: 911px;
    }
}